code { background-color: #f4f4f4; border: 1px solid #ddd; border-radius: 4px; padding: 2px 4px; font-family: monospace; font-size: 0.9em; }
blockquote { background-color: #333; color: #f9f9f9; border-left: 10px solid #ccc; padding: 0.5em; }
blockquote a { color: #99ccff; }
blockquote a code { color: #0099ff; }
blockquote from { color: #99ccff; background: rgba(153, 204, 255, 0.1); border: 1px solid #99ccff; border-radius: 4px; padding: 2px 2px; font-size: 0.8em; }
blockquote from b { color: white; background: #99ccff; border-radius: 4px; padding: 3px 5px 2px; margin-left: -3px; }
blockquote to { color: #ff99cc; background: rgba(255, 153, 204, 0.1); border: 1px solid #ff99cc; border-radius: 4px; padding: 2px 2px; font-size: 0.8em; }
blockquote to b { color: white; background: #ff99cc; border-radius: 4px; padding: 3px 5px 2px; margin-left: -3px; }
blockquote subject { color: #f2f2f2; background: #555555; border-radius: 4px; padding: 2px 2px; font-size: 0.8em; }
blockquote subject b { color: #555555; background: #f2f2f2; border-radius: 4px; padding: 3px 5px 2px; margin-left: -3px; }
blockquote date { color: #666666; background: rgba(102, 102, 102, 0.1); border: 1px solid #666666; border-radius: 4px; padding: 2px 2px; font-size: 0.8em; }
blockquote date b { color: white; background: #666666; border-radius: 4px; padding: 3px 5px 2px; margin-left: -4px; }
todo { color: #ff6600; background: rgba(255, 102, 0, 0.1); border: 1px solid #ff6600; border-radius: 4px; padding: 2px 2px; }
todo b { color: white; background: #ff6600; border-radius: 4px; padding: 3px 5px 2px; margin-left: -4px; }
done { color: #009900; background: rgba(0, 153, 0, 0.1); border: 1px solid #009900; border-radius: 4px; padding: 2px 2px; }
done b { color: white; background: #009900; border-radius: 4px; padding: 3px 5px 2px; margin-left: -4px; }

blockquote.jira {
    background-color: #e3f2fd; /*  Light blue background for JIRA block */
    color: #0d47a1; /* Dark blue text for readability */
    border-left: 10px solid #42a5f5; /* Bright blue border to distinguish JIRA blocks */
    padding: 0.5em; /* Padding for spacing */
}

blockquote.jira a {
    color: #1976d2; /* Medium blue for links */
}

blockquote.jira subject {
    color: #ffffff;
    background: #64b5f6; /* Light blue background for the subject */
    border-radius: 4px; padding: 2px 2px; font-size: 0.8em; 
}

blockquote.jira subject b {
    color: #64b5f6; /* Light blue text */
    background: #ffffff; /* White background */
    border-radius: 4px; padding: 3px 5px 2px; margin-left: -3px;
}
